= link_to t('.open_search_form'), '#search_form',
          class: 'btn btn-default',
          data: { toggle: :collapse },
          aria: { expanded: false, controls: :search_form }
= search_form_for q, builder:  SimpleForm::FormBuilder, id: :search_form, class: :collapse  do |f|
  = f.input :status_in, collection: Project.state_machines[:status].states,
                        label_method: :human_name, value_method: :value,
                        input_html: { multiple: true }
  = f.button :submit