.big_textarea textarea {
    resize:vertical;
}

.form-group.datetime_picker,
.form-group.date_picker {
    position: relative;
}

.project-tab-group {
    margin-bottom: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}
