= simple_form_for project, url: project_finish_path, method: :post,  builder: PunditFormBuilder do |f|
  = f.input :finish_date, as: :datetime_picker, input_html: { value: Time.now }
  = f.input :overdue_kind
  = f.button :submit
